{% if site.social-network-links.email %}
  <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">Email me</span>
  </a>
{% endif %}

{% if site.social-network-links.facebook %}
  <a href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">Facebook</span>
  </a>
{% endif %}

{% if site.social-network-links.twitter %}
  <a href="https://twitter.com/{{ site.social-network-links.twitter }}" title="Twitter">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">Twitter</span>
  </a>
{% endif %}

{% if site.social-network-links.github %}
  <a href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">GitHub</span>
  </a>
{% endif %}

{% if site.social-network-links.linkedin %}
  <a href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">LinkedIn</span>
  </a>
{% endif %}

{% if site.social-network-links.youtube %}
  <a href="https://www.youtube.com/{{ site.social-network-links.youtube }}" title="YouTube">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">YouTube</span>
  </a>
{% endif %}

{% if site.social-network-links.whatsapp %}
  <a href="https://wa.me/{{ site.social-network-links.whatsapp }}" title="WhatsApp">
    <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
    </span>
    <span class="sr-only">WhatsApp</span>
  </a>
{% endif %}